:root {
    --footerHeight: 100px;
  }

::-webkit-scrollbar{
    width: 15px;
    height: 15px;
}

/* ::-webkit-scrollbar-track {
    background-image: linear-gradient(lavender);
} */

::-webkit-scrollbar-thumb { 
    background: lightgray;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: gray;
}

* {
    font-family: Helvetica, Arial; 
}

body {
    /* background-image: linear-gradient(to bottom right, lavender, pink); */
    /* overflow-x: hidden; */
    background-color: #ffebcf;
    margin: 0;
    min-height: 100vh;
    position: relative;
    padding-bottom: var(--footerHeight);
}

.pageContents {
    margin: 0 250px 0 250px;
    text-align: center;
}

.navbarContainer {
    background-color: ffebcf;
    font-size: 14px;
    display: grid; grid-template-columns: 8.3% 51% 40%;
    padding: 0 250px 0 250px;
}

.navbar {
    list-style-type: none;
    text-align: right;
    float: right;
}

.navbar li {
    display: inline-block;
    /* font-weight: bold; */
    font-size: 1.1rem;
}

.navbar li a {
    display: inline-block;
    margin: 8px 10px 8px 0px;
    /* padding: 10px 0 0 0;  */
    text-decoration: none;
    padding-top: 10px; 
    /* float: right; */
    color: #6b4400;
    font-weight: bold;
    text-transform: uppercase;
}

.logo {

    width: 300px;
    height: auto;
    /* padding: 10px 5px 5px 5px; */
    margin: 20px 0 0 0;
    display: inline-block;
    /* position: relative;
    float: left;*/
}

.logoLink {
    z-index: 20
}

header {
    width: 100%;
    text-align: center;
    padding-top: 3%;
    color: #6b4400;
    font-weight: bold;
    text-transform: uppercase;
}

.restaurantContainer {
    width: 100%;
    display: grid; grid-template-columns:  33.3% 33.3% 33.3%;
}


.restaurantContainer div {
    display: inline-block;
    padding-top: 5%;
}

.restaurant {
    /* width: 33%; */
    display: inline-block;
    /* text-align: center; */
    /* height: auto;*/

}

.restaurant img {
    height: 360px;
    width: auto;
}

#r6 {
    margin-bottom: 100px;
}

.bannerContainer {
    width: 100%; 
    display: inline-block;
    text-align: center;
    margin: 30px 0 80px 0;
}

.bannerContainer img {
    /* width: 60%; */
    width: 90%;
}

.formContainer {
    /* width: 80vw; */
    display: flex;
    justify-content: center;
    /* margin: 0 0 20px 0;  */
    
}

.inputWrapper input, textarea {
    width: 500px;
    margin-top: 5px;
    height: 25px;
}

.inputWrapper label {
    margin-top: 20px; 
    display:block;
    text-align: left;

}

#fmessage {
    height: 100px;
}

.submitButton {
    background-color: #6b4400;
    border: 0;
    border-radius: 10px;
    color: white;
    display: block; 
    margin-top: 15px !important;
    margin-left: auto;
    margin-right: auto;
    width: 30% !important;
}

.aboutContainer {
    width: 100%;
    margin: 100px 0 120px 0;
    display: grid; grid-template-columns:  40% 10% 50%;
}

.aboutImage {
    height: auto;
    width: 100%;
}

.aboutImageContainer {
    /* width: 30%; */
    display: inline-block;
    text-align: left;
}

.aboutTextContainer {
    /* width: 60%; */
    /* max-width: 70%; */
    text-align: left;
    display: inline-block;
}

.aboutTextContainer h2 {
    color: #6b4400;
    font-weight: bold;
    text-transform: uppercase;
}

.textSpan {
    /* padding-right: 300px; */
    line-height: 1.5;
    display: block;
    font-size: 1.1rem;

}

footer {
    height: var(--footerHeight);
    width: 100%;
    text-align: center;
    /* background-color: #360167; */
    /* background-image: linear-gradient(to bottom right, lavender, pink); */
    background-color: #dd8731;
    color: white;
    font-size: 12px;
    display: block;
    padding: 10px 0 20px 0;
    margin-top: 30px;
    position: absolute;
    bottom: 0;
}

footer img {
    height: 20px;
    width: auto;
    display: inline-block;
    margin: 20px 5px 0 5px;
}

footer a {
    color: white;
    margin-top: 10px;
    display: block;
}